body{
    background-color: #e2e2e2!important;
}

.bg-primary{
    background: #009688!important;
}

.banner{
    width: 100%;
    height: 93vh;
    background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url("https://www.johnacademy.co.uk/wp-content/uploads/2017/12/MICROSOFT-OFFICE-BUSINESS-CONTACT-MANAGER-3-1.jpg");
    color: white;
    background-size: cover ;
}

.my-card{
    padding: 20px;
    background: #FFFFFF;
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 420px;
    border: 1px solid #9C9C9C;
    background-color: white;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

/*side bar*/
@media only screen and (max-width: 600px){

    .sidebar{
     display: none;
        width: 80% !important;
        background: white;
        height: 100vh;
        position: fixed;
        padding-top: 20px;
    }
    .content{
        margin-left: 0%!important;
    }
}

.sidebar{
    width: 18%;
    background: white;
    height: 100%;
    position: fixed;
    padding-top: 45px;
}

.sidebar a {
    display: block;
    width: 100%;
    padding: 10px 25px;
    text-decoration: none;
    color: gray;
}
.sidebar a:hover{
    background-color: #e2e2e2;
}

.sidebar .divider{
    height: .5px;
    width: 100%;
    background: #e2e2e2;
    margin-top: 10px;
}

.content{
    margin-left: 20%;
}

.sidebar .crossBtn{
    position: absolute;
    top:0;
    right: 35px;
    font-size: 36px;
    cursor: pointer;
}